<!DOCTYPE html>
<html>

<!-- ################################ -->
<!-- Header -->
<!-- ################################ -->
<%= render 'partials/header' %>
<!-- ################################ -->



<!-- ################################ -->
<!-- Body -->
<!-- ################################ -->
	<body>




<!-- ################################ -->
<!-- Admin Bar -->
<!-- ################################ -->
	<%= render 'partials/admin_bar' %>
<!-- ################################ -->	



<!-- ################################ -->
<!-- Page Container -->
<!-- ################################ -->

	<div class="container">
		<%= render 'partials/photo' %>

		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<%= render 'partials/about' %>
				<%= render 'partials/education' %>
				<%= render 'partials/experience' %>
					<div class="col-xs-12 col-sm-5">
						<%= render 'partials/contact' %>
						<%= render 'partials/skills' %>
						<%= render 'partials/languages' %>  
						<%= render 'partials/hobbies' %>
					</div>
			</div>
		</div>




<!-- ################################ -->
<!-- Javascripts -->
<!-- ################################ -->

		<%= render 'partials/javascripts' %>

<!-- ################################ -->		

<!-- ################################ -->
<!-- End Body -->
<!-- ################################ -->

	</body>
<!-- ################################ -->

</html>

